<!DOCTYPE HTML>
<html lang="en">
<head>
 <title>{{ title }}</title>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8">


 <!-- Font -->

 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


 <!-- Stylesheets -->

 <link href="/bona/css/bootstrap/bootstrap.css" rel="stylesheet">

 <link href="/bona/css/ionicons.min.css" rel="stylesheet">


 <link href="/bona/layout-1/css/styles.css" rel="stylesheet">

 <link href="/bona/layout-1/css/responsive.css" rel="stylesheet">
 <link href="/bona/common-css/custom-header-menu.css" rel="stylesheet">
 <!--  ckeditor -->
 <script src="/ckeditor/ckeditor.js"></script>
 <!-- flip button -->
 <link rel="stylesheet" href="/bona/common-css/flip-button.css">
</head>
<body >

<header>
 <div class="container-fluid position-relative no-side-padding">
  <div class="header-menu">
   <div class="container" style="max-width: 1500px !important;">
    <a href="#" class="logo"><img src="/bona/images/logo.png" alt="Logo Image"></a>
    <div class="tutorial">
     <div class="src-area">
      <form>
       <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
       <input class="src-input" type="text" placeholder="Type of search">
      </form>
     </div>
     <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li>Post <i class="fa fa-angle-down"></i>
       <ul>
        <li><a href="/blog/post/create">Add post</a></li>
        <li><a href="/blog/my-post">My posts </a></li>
        <li><a href="/post-on-approve">Post on approve</a></li>
       </ul>
      </li>
      <li>Me <i class="fa fa-angle-down"></i>
       <ul>
        <li>My profile</li>
        <li><a href="/user/log-out">Log out</a></li>
       </ul>
      </li>
      <li>Contact</li>
     </ul>
     <div class="slider"></div><!-- slider -->



    </div>

    <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

    <ul class="main-menu visible-on-click" id="main-menu">

    </ul><!-- main-menu -->

   </div>
  </div>


 </div><!-- conatiner -->
</header>


<section class="blog-area section">
 <div class="container">

  <form action="ctest" method="post">
            <textarea class="mb-3 ckeditor-clear" name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>

   <div class="ckeditor-buttons d-flex ">

   <div class="btn">
    <div class="btn-back">
     <p>Are you sure you want to do that?</p>
     <button type="submit" name="savePost" class="yes publish-post">Yes</button>
     <a type="submit" name="notSavePost" class="no">No</a>
    </div>
    <div class="btn-front">Post</div>
   </div>

   <div class="btn btn2 ml-2">
    <div class="btn-back btn-back2">
     <p>Are you sure you want to do that?</p>
     <button type="submit" name="savePost" class="yes yes2 delete-yes">Yes</button>
     <a class="no no2">No</a>
    </div>
    <div class="btn-front btn-front2">Clear</div>
   </div>
   </div>

  </form>

 </div><!-- container -->
</section><!-- section -->


<footer>

 <div class="container">
  <div class="row">

   <div class="col-lg-4 col-md-6">
    <div class="footer-section">

     <a class="logo" href="#"><img src="/bona/images/logo.png" alt="Logo Image"></a>
     <p class="copyright">Bona @ 2017. All rights reserved.</p>
     <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
     <ul class="icons">
      <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
      <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
      <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
      <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
      <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
     </ul>

    </div><!-- footer-section -->
   </div><!-- col-lg-4 col-md-6 -->

   <div class="col-lg-4 col-md-6">
    <div class="footer-section">
     <h4 class="title"><b>CATAGORIES</b></h4>
     <ul>
      <li><a href="#">BEAUTY</a></li>
      <li><a href="#">HEALTH</a></li>
      <li><a href="#">MUSIC</a></li>
     </ul>
     <ul>
      <li><a href="#">SPORT</a></li>
      <li><a href="#">DESIGN</a></li>
      <li><a href="#">TRAVEL</a></li>
     </ul>
    </div><!-- footer-section -->
   </div><!-- col-lg-4 col-md-6 -->

   <div class="col-lg-4 col-md-6">
    <div class="footer-section">

     <h4 class="title"><b>SUBSCRIBE</b></h4>
     <div class="input-area">
      <form>
       <input class="email-input" type="text" placeholder="Enter your email">
       <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
      </form>
     </div>

    </div><!-- footer-section -->
   </div><!-- col-lg-4 col-md-6 -->

  </div><!-- row -->
 </div><!-- container -->
</footer>


<!-- SCIPTS -->
<script src="/bona/common-js/ckeditor-main.js"></script>

<script src="/bona/common-js/jquery-3.1.1.min.js"></script>

<script src="/bona/common-js/tether.min.js"></script>

<script src="/bona/common-js/bootstrap.js"></script>

<script src="/bona/common-js/scripts.js"></script>

<script src="/bona/common-js/flip-button.js"></script>

</body>
</html>
